@mixin radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

@mixin shadow() {
  -webkit-box-shadow: 0px 24px 24px 0px rgba(29, 29, 29, 0.08);
  -moz-box-shadow: 0px 24px 24px 0px rgba(29, 29, 29, 0.08);
  box-shadow: 0px 24px 24px 0px rgba(29, 29, 29, 0.08);
}

@mixin shadow-sm() {
  -webkit-box-shadow: 0px 12px 12px 0px rgba(29, 29, 29, 0.02);
  -moz-box-shadow: 0px 12px 12px 0px rgba(29, 29, 29, 0.02);
  box-shadow: 0px 12px 12px 0px rgba(29, 29, 29, 0.02);
}

@mixin truncate() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
