$primary: #7227f4;
$primary-20: #5b1fc3;
$primary-80: #e3d4fd;
$primary-90: #f1e9fe;
$secondary: #58edd6;
$secondary-80: #defbf7;
$secondary-90: #effefb;
$gradient: linear-gradient(-135deg, $secondary 0%, $primary 100%);
$white: #ffffff;
$black: #1d1d1d;
$background: #f6f5f8;
$gray: #76859b;
$gray-50: #bac1cc;
$gray-70: #d6dbe1;
$gray-80: #e4e7eb;
$gray-85: #ebedf0;

$fs-96: 96px;
$fs-64: 64px;
$fs-60: 60px;
$fs-48: 48px;
$fs-40: 40px;
$fs-36: 36px;
$fs-32: 32px;
$fs-28: 28px;
$fs-24: 24px;
$fs-20: 20px;
$fs-18: 18px;
$fs-16: 16px;
$fs-14: 14px;
$fs-12: 12px;
$fs-10: 10px;

$fh-12: 1.2;
$fh-13: 1.3;
$fh-14: 1.4;
$fh-15: 1.5;
$fh-16: 1.6;
$fh-17: 1.7;
$fh-18: 1.8;

$ft-up: uppercase;
$ft-no: none;
