@use "../base/variables" as *;
@use "../base/mixins" as *;
@use "../base/breakpoints" as *;

.showcase {
  &-title {
    display: flex;
    margin-top: 60px;

    h3 {
      font-weight: $fw-bold;
    }

    select {
      width: 200px;

      &:focus {
        border-color: lighten($primary, 35%);
        color: $black;
      }
    }

    & button {
      @include radius(12px);
      padding: 0 15px;
      background-color: lighten($primary, 15%);
      margin-right: 10px;
    }

    & .filter-sort {
      display: flex;
    }
  }

  &-per-page {
    margin-bottom: 60px;
    select {
      width: 100px;

      &:focus {
        border-color: lighten($primary, 35%);
        color: $black;
      }
    }
  }

  &-filters {
    margin-top: 60px;

    & input {
      @include radius(12px);
      background-color: $white;
      padding: 15px;
      border: 1px solid lighten($primary, 35%);
      margin-right: 10px;
    }

    & button {
      @include radius(12px);
      padding: 15px;
      background-color: lighten($primary, 15%);
    }
  }

  &-item {
    @include radius(12px);
    background: $ebony-clay;
    margin-top: 32px;
    margin-bottom: 64px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s;
    min-width: 160px;

    &-thumbnail {
      color: $white;
      position: relative;
    }

    &-image {
      overflow: hidden;

      & img {
        @include radius(12px 12px 0 0);
        width: 100%;
        transition: all 0.3s;
      }
    }

    &-city {
      position: absolute;
      top: 16px;
      right: 16px;
    }

    &-info {
      border-bottom: 1px solid rgba($white, 0.15);
      padding: 20px;
      margin-bottom: 12px;
    }

    &-title {
      @include truncate();
      font-size: $fs-14;
      color: $gray-70;
      font-weight: $fw-medium;
      margin-bottom: 12px;
    }

    &-price {
      font-size: $fs-18;
      font-weight: $fw-bold;
    }

    &-body {
      color: $gray;
      padding: 0 20px 20px;
    }

    &-badge {
      display: flex;
      flex-wrap: wrap;

      & .badge {
        margin: 8px 8px 0 0;
      }
    }

    & .badge {
      font-weight: $fw-medium;

      &-city {
        background: $primary;
        color: $white;
      }

      &-empty {
        background: transparent;
        color: $gray;
      }
    }

    &:hover &-thumbnail {
      & img {
        transform: scale(1.2) rotate(-3deg);
      }
    }
  }
}
