@use "../base/variables" as *;
@use "../base/mixins" as *;
@use "../base/breakpoints" as *;

.footer {
  background-color: $black;
  display: flex;
  padding: 50px;

  &-contact {
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;

    & svg {
      margin-right: 12px;
    }
  }
}
