@use "../base/variables" as *;
@use "../base/mixins" as *;
@use "../base/breakpoints" as *;

.footer {
  background-color: $black;
  display: flex;

  &-contact {
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;

    &-number {
      @media screen and (max-width: 567px) {
        font-size: 14px;
      }
    }

    & svg {
      margin-right: 12px;
    }
  }
}
