@use "../base/variables" as *;
@use "../base/mixins" as *;
@use "../base/breakpoints" as *;

.page-404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 250px;

  & h1 {
    font-size: $fs-96;
    font-weight: $fw-bold;
    color: $primary;
    margin-bottom: 50px;
  }

  & p {
    font-size: $fs-36;
    color: $ebony-clay;
  }

  & span {
    font-size: $fs-24;
    color: $dark-silver;
  }

  & button {
    @include radius(12px);
    background-color: $primary;
    color: $white;
    margin-top: 50px;
    transition: all 0.3s;
    padding: 15px 25px;

    &:hover {
      background-color: darken($primary, 10%);
    }
  }
}
