@use "../base/variables" as *;
@use "../base/mixins" as *;
@use "../base/breakpoints" as *;

.showcase-detail {
  margin-top: 36px;
  &-visual {
    &-img-wrapper {
      margin-top: 16px;
      & img {
        @include radius(12px);
      }
      &:not(:last-child) {
        margin-bottom: 36px;
      }
    }

    &-title {
      border-bottom: 1px solid rgba($gray, 0.2);

      &-header {
        font-size: $fs-24;
        font-weight: $fw-bold;
        margin-bottom: 16px;
      }
    }

    &-description {
      margin-bottom: 24px;
      &-title {
        font-size: $fs-24;
        font-weight: $fw-bold;
        margin-bottom: 24px;
      }
    }
  }

  &-info {
    position: sticky;
    top: 80px;
    align-self: flex-start;

    &-model {
      border-bottom: 1px solid rgba($gray, 0.2);
      margin-bottom: 20px;

      &-brand {
        display: block;
        font-size: $fs-20;
        font-weight: $fw-bold;
        color: $primary;
        margin-bottom: 8px;
        text-transform: uppercase;

        &:hover {
          color: darken($primary, 10%);
        }
      }

      &-name {
        font-size: $fs-28;
        font-weight: $fw-bold;
      }

      &-properties {
        display: flex;
        flex-wrap: wrap;
        font-size: $fs-18;
        color: $gray;
        margin: 16px 0 24px;

        &-keys {
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
        }

        &-item-location {
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;

          &:before {
            content: "";
            margin: 0 8px;
            display: block;
            background: $primary;
            border-radius: 50%;
            height: 5px;
            width: 5px;
          }
        }
      }
    }

    &-location {
      color: $black;
      font-size: $fs-24;
      font-weight: $fw-medium;
      margin: 8px 0;
    }

    &-price {
      color: $primary;
      font-size: $fs-36;
      font-weight: $fw-bold;
      line-height: 44px;
      margin: 12px 0 24px;
    }

    &-card {
      margin-bottom: 32px;

      & ul {
        @include radius(12px);
      }

      & li {
        background-color: $alice-blue;
        border-color: $gray-70;
        padding-top: 14px;
        padding-bottom: 14px;
        text-transform: capitalize;
      }

      & .badge {
        background-color: $gray;
        font-weight: $fw-medium;
        font-size: $fs-14;
      }
    }

    &-seller {
      margin-bottom: 30px;

      &-info {
        display: flex;
        flex-direction: column;

        &-text {
          @include radius(0 0 12px 12px);
          display: flex;
          align-items: center;
          justify-content: center;
          border-style: solid;
          border-color: $gray-70;
          border-width: 0 1px 1px;
          padding: 12px;
        }

        &-contact {
          color: $gray;
          font-weight: $fw-medium;
          margin-right: 8px;
        }

        &-name {
          color: $black;
          font-weight: $fw-bold;
        }

        &-button {
          @include radius(12px 12px 0 0);
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: $primary;
          padding: 13px 10px 12px;
          color: $white;
          text-align: center;
          transition: all 0.3s;

          & a {
            color: $white;
          }

          &:hover {
            background-color: darken($primary, 10%);
          }

          & svg {
            margin-right: 8px;
          }
        }
      }
    }
  }
}

//swiper css

.showcase-swiper {
  margin: 24px 0 24px;
}

.showcase-swiper-img {
  @include radius(12px);
}

.swiper {
  &-image {
    @include radius(12px);
    background: $white;
    position: relative;
    overflow: hidden;

    &-container {
      padding-bottom: 75%;
    }

    &-wrapper {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      border-radius: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }

  [class*="swiper-button-"] {
    @include radius(100%);
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba($white, 0.2);

    &::after {
      font-size: $fs-24;
    }
  }

  &-button {
    &-prev,
    &-next {
      color: $white;
    }
  }
}

.similar-ads {
  margin-top: 120px;
  margin-bottom: 36px;
  border-top: 1px solid rgba($gray, 0.2);

  &-component {
    margin-top: 36px;
  }
}
